:root {
    --Rosaf: #ffc3c3;
    --Rosa: #ffdcdc;
    --Blanco: #ffffff;
    --Negro: #0d0d0d;
    --Gris: #bebebe;
    --Dorado: #D4AF37;
}
html {
    background-color: var(--Rosa);
    font-family: 'Nunito Sans', sans-serif;
    transition-duration: all 0.5s
}
#in {
    height: 10vh;
}
main img {
    display: block;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
}
nav {
    border-color: var(--Rosa);
    margin-top: -45vh;
    width: 95.7vw;
    position: fixed;
    border-bottom: 0.4vh solid var(--Rosa);
    display: flex;
    padding: 1vw;
    background-color: var(--Rosaf);
    justify-content: center;
    
}
nav a {
    font-size: 1.5vw;
    text-decoration: none;
    color: var(--Blanco);
}
#int {
    text-decoration: none;
    color: var(--Blanco);
    background-color: var(--Rosaf);
    height: 50vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
#int img {
    width: 25vw;
}
#img {
    margin-bottom: 5vh;
    text-align: center;
}
#img img {
    width: 15vw;
}
#paypal-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;
    padding-top: 1.5rem;
}
#info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--Rosaf);
    text-align: center;
    padding: 1rem;
    border-radius: 1.5rem;
    width: 50vw;
    height: 15vh;
}
.date {
    text-align: center;
    width: 45vw; 
    height: 2.5vh;
    color: var(--Negro);
    border-radius: 0.5rem;
    border-color: var(--Rosaf);
}
@media screen and (max-width: 500px) {
    nav {
        margin-top: -33vh;
        padding: 3vw;
        width: 90vw;
    }
    nav a {
        font-size: 1rem;
    }
    main img {
        margin-top: 0vw;
    }
    #int {
        height: 50vh;
    }
    #int img {
        width: 40vw;
    }
    #img {
        margin-bottom: 5vh;
        text-align: center;
    }
    #img img {
        width: 30vw;
    }
    #paypal-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65vw;
        padding-top: 1.5rem;
    }
    #info {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--Rosaf);
        text-align: center;
        padding: 1rem;
        border-radius: 1.5rem;
        width: 50vw;
        height: 15vh;
    }
    .date {
        text-align: center;
        width: 45vw; 
        height: 2.5vh;
        color: var(--Negro);
        border-radius: 0.5rem;
        border-color: var(--Rosaf);
    }
}