/*Colores*/
/*Tipos de letra*/
#logo_load {
  width: 100vw;
  height: 100vh;
  background: #ffdcdc;
  position: fixed;
  display: flex;
  z-index: 999;
}
#logo_load #cargando {
  margin: auto;
  display: block;
}
#logo_load #cargando #circulo {
  width: 7rem;
  height: 7rem;
  -webkit-animation: load 2s ease-in-out infinite;
          animation: load 2s ease-in-out infinite;
  border-radius: 100%;
  border: 0.8rem dotted #ffffff;
}
#logo_load #cargando #circulo img {
  width: 7rem;
  height: 7rem;
}

@media screen and (max-width: 500px) {
  #logo_load {
    margin-top: -1vh;
    margin-left: -2vw;
  }
  #logo_load #cargando #circulo {
    width: 5rem;
    height: 5rem;
    border: 0.5rem dotted #ffffff;
  }
  #logo_load #cargando #circulo img {
    width: 5rem;
    height: 5rem;
  }
}
@-webkit-keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*General*/ /*Colores*/
/*Tipos de letra*/
* {
  font-family: "Nunito Sans", sans-serif;
}

html {
  background-color: #ffdcdc;
}

#in {
  height: 10vh;
}

main img {
  width: 15vw;
  display: block;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
}

nav {
  border-color: #ffdcdc;
  margin-top: -50vh;
  margin-left: 1vw;
  width: 95vw;
  position: fixed;
  border-bottom: 0.4vh solid #ffdcdc;
  display: flex;
  padding: 1vw;
  background-color: rgba(255, 195, 195, 0.862745098);
  justify-content: space-evenly;
}
nav a {
  font-size: 1vw;
  text-decoration: none;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
}

footer {
  margin-top: 6vh;
  margin-bottom: 6vh;
  color: #ffffff;
  text-align: center;
}

/*Colores*/
/*Tipos de letra*/
#F video {
  width: 100vw;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -101;
}

/*Colores*/
/*Tipos de letra*/
#BP {
  margin-top: 0vh;
  margin-left: 120vw;
  position: fixed;
}
#BP button {
  width: 0vw;
  height: 0vh;
  color: #ffffff;
  font-size: 0;
  background-color: #ffc3c3;
  border-radius: 0;
  border: 0rem solid #ffffff;
  transition: all 0.5s;
}
#BP button:active {
  width: 0vw;
  height: 0vh;
  background-color: #ffdcdc;
}

@media screen and (max-width: 500px) {
  #BP {
    margin-top: 8vh;
    margin-left: 80vw;
    position: fixed;
  }
  #BP button {
    width: 16vw;
    height: 6vh;
    color: #ffffff;
    font-size: 3vw;
    background-color: #ffc3c3;
    border-radius: 20%;
    border: 0.1rem solid #ffffff;
    transition: all 0.5s;
  }
  #BP button:active {
    width: 16.5vw;
    height: 6.5vh;
    background-color: #ffdcdc;
  }
}
.links {
  margin-left: -400vw;
}

main img {
  width: 0vw;
}

#QR {
  text-align: center;
}
#QR a {
  background-color: #ffffff;
  transition: all 0.7s;
  font-size: 1.5rem;
  border-radius: 2rem;
  padding: 1.5rem;
  text-decoration: none;
  color: #ffdcdc;
}
#QR a:hover {
  padding: 2rem;
}
#QR img {
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 25vw;
}

@media screen and (max-width: 500px) {
  /*Colores*/
  /*Tipos de letra*/
  /*General*/ /*Colores*/
  /*Tipos de letra*/
}
@media screen and (max-width: 500px) and (max-width: 500px) {
  #logo_load {
    margin-top: -10vh;
    margin-left: -2vw;
  }
}
@media screen and (max-width: 500px) {
  #F video {
    width: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -101;
  }
}
@media screen and (max-width: 500px) {
  * {
    font-family: "Nunito Sans", sans-serif;
  }
}
@media screen and (max-width: 500px) {
  html {
    background-color: #ffdcdc;
  }
}
@media screen and (max-width: 500px) {
  #in {
    height: 10vh;
  }
}
@media screen and (max-width: 500px) {
  main img {
    width: 15vw;
    display: block;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 500px) {
  nav {
    border-color: #ffdcdc;
    margin-top: -50vh;
    margin-left: 1vw;
    width: 95vw;
    position: fixed;
    border-bottom: 0.4vh solid #ffdcdc;
    display: flex;
    padding: 1vw;
    background-color: rgba(255, 195, 195, 0.862745098);
    justify-content: space-evenly;
  }
  nav a {
    font-size: 1vw;
    text-decoration: none;
    color: #ffffff;
    font-family: "Nunito Sans", sans-serif;
  }
}
@media screen and (max-width: 500px) {
  footer {
    margin-top: 6vh;
    margin-bottom: 6vh;
    color: #ffffff;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  main img {
    margin-bottom: 4vh;
    width: 50vw;
    display: block;
    margin-top: -15vh;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 500px) {
  .links {
    margin-left: 0vw;
  }
  .links a {
    border-radius: 5vw;
    font-size: 1.6rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    transition: all 0.5s;
    color: #ffffff;
    text-decoration: none;
    margin-top: 2vh;
    background-color: #ffc3c3;
    display: block;
    text-align: center;
    width: 96vw;
  }
  .links a:hover {
    color: #ffdcdc;
  }
}
@media screen and (max-width: 500px) {
  #QR {
    text-align: center;
  }
  #QR a {
    background-color: #ffffff;
    transition: all 0.7s;
    font-size: 0rem;
    border-radius: 0rem;
    padding: 0rem;
    text-decoration: none;
    color: #ffdcdc;
  }
  #QR a:hover {
    padding: 0rem;
  }
  #QR img {
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 0vw;
  }
}/*# sourceMappingURL=index.css.map */