:root {
    --Rosa: #ffdcdc;
    --Blanco: #ffffff;
    --Negro: #0d0d0d;
    --Gris: #bebebe;
    --Dorado: #D4AF37;
}
html {
    background-color: var(--Rosa);
    font-family: 'Nunito Sans', sans-serif;
}
#F video {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    height:100%;
    z-index: -101;
  }
.links {
    margin-left: -400vw;
}
main img {
    width: 0vw;
}
#QR {
    text-align: center;
}
#QR a{
    background-color: var(--Blanco);
    transition: all 0.7s;
    font-size: 1.5rem;
    border-radius: 2rem;
    padding: 1.5rem;
    text-decoration: none;
    color: var(--Rosa);
}
#QR a:hover {
    padding: 2rem;
}
#QR img {
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 35vw;
}
@media screen and (max-width: 500px) {
    main img {
        margin-bottom: 4vh;
        width: 50vw;
        display: block;
        margin-top: -15vh;
        margin-left: auto;
        margin-right: auto;
    }
    .links {
        margin-left: 2vw;
    }
    .links a {
        border-radius: 5vw;
        font-size: 1.6rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        transition: all 0.5s;
        color: var(--Negro);
        text-decoration: none;
        margin-top: 2vh;
        background-color: var(--Blanco);
        display: block;
        text-align: center;
        width: 95vw;
    }
    .links a:hover {
        color: var(--Rosa);
    }
    #QR img {
        width: 0vw;
    }
    #QR a{
        font-size: 0rem;
    }
}