/*Colores*/
/*Tipos de letra*/
/*Fondos*/
#logo_load {
  width: 100vw;
  height: 100vh;
  background: #ffdcdc;
  position: fixed;
  display: flex;
  z-index: 999;
}
#logo_load #cargando {
  margin: auto;
  display: block;
}
#logo_load #cargando #circulo {
  width: 7rem;
  height: 7rem;
  -webkit-animation: load 2s ease-in-out infinite;
          animation: load 2s ease-in-out infinite;
  border-radius: 100%;
  border: 0.8rem dotted #ffffff;
}
#logo_load #cargando #circulo img {
  width: 7rem;
  height: 7rem;
}

@media screen and (max-width: 500px) {
  #logo_load {
    margin-top: -1vh;
    margin-left: -2vw;
  }
  #logo_load #cargando #circulo {
    width: 5rem;
    height: 5rem;
    border: 0.5rem dotted #ffffff;
  }
  #logo_load #cargando #circulo img {
    width: 5rem;
    height: 5rem;
  }
}
@-webkit-keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Colores*/
/*Tipos de letra*/
/*Fondos*/
/*General*/ /*Colores*/
/*Tipos de letra*/
/*Fondos*/
* {
  font-family: "Nunito Sans", sans-serif;
}

html {
  background-color: #ffdcdc;
}

#in {
  height: 10vh;
}

main img {
  width: 15vw;
  display: block;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 60px 10px rgba(255, 255, 255, 0.62);
}

nav {
  border-color: #ffdcdc;
  margin-top: -50vh;
  margin-left: 1vw;
  width: 95vw;
  position: fixed;
  box-shadow: 0px 10px 60px -10px rgb(255, 255, 255);
  display: flex;
  padding: 1vw;
  background-color: rgba(255, 195, 195, 0.862745098);
  justify-content: space-evenly;
}
nav a {
  font-size: 1vw;
  text-decoration: none;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
}

footer {
  margin-top: 6vh;
  margin-bottom: 6vh;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 500px) {
  * {
    font-family: "Nunito Sans", sans-serif;
  }
  html {
    background-color: #ffdcdc;
  }
  main img {
    width: 40vw;
    margin-top: 0vw;
    padding: 0.1rem;
    border-radius: 100%;
    border: 0.2rem solid #ffffff;
  }
  nav {
    margin-top: -33.5vh;
    margin-left: 0vw;
    margin-right: 0vw;
    padding: 3.5vw;
    width: 90vw;
  }
  nav a {
    font-size: 3.5vw;
    font-family: "Nunito Sans", sans-serif;
  }
  footer {
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
    color: #ffffff;
  }
}
@media screen and (max-width: 500px) and (max-height: 670px) {
  nav {
    margin-top: -38.5vh;
  }
}
/*Colores*/
/*Tipos de letra*/
/*Fondos*/
#F {
  width: 100vh;
  height: 3000vh;
  margin-top: -2900vh;
  background-image: url(../temas/diciembre/fondo.png);
  position: fixed;
  z-index: -101;
  -webkit-animation: fondo 120s ease-in-out infinite;
          animation: fondo 120s ease-in-out infinite;
}

@-webkit-keyframes fondo {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(2900vh);
  }
}

@keyframes fondo {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(2900vh);
  }
}
/*Colores*/
/*Tipos de letra*/
/*Fondos*/
#BP {
  margin-top: 0vh;
  margin-left: 120vw;
  position: fixed;
}
#BP button {
  width: 0vw;
  height: 0vh;
  color: #ffffff;
  font-size: 0;
  background-color: #ffc3c3;
}

@media screen and (max-width: 500px) {
  #BP {
    margin-top: 10vh;
    margin-left: 80vw;
    position: fixed;
  }
  #BP button {
    width: 16vw;
    height: 6vh;
    box-shadow: 0px 0px 60px 10px rgba(255, 255, 255, 0.62);
    color: #ffffff;
    font-size: 4.5vw;
    border-radius: 1rem;
    border: 0;
    background-color: #ffc3c3;
    transition: all 0.1s;
  }
  #BP button:active {
    background-color: #ffdcdc;
  }
}
#PR {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#PR div {
  padding: 1vw;
  background-color: #ffc3c3;
}
#PR h2 {
  color: #ffffff;
}
#PR b {
  color: #0d0d0d;
  font-size: 1.2vw;
}
#PR p {
  color: #861720;
  font-size: 1.5vw;
}
#PR img {
  width: 75%;
  border-radius: 100%;
  padding: 0.5vw;
  border: 0.2rem solid #ffffff;
}

footer {
  text-align: center;
  margin-top: 6vh;
  margin-bottom: 6vh;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  #PR {
    grid-template-columns: repeat(2, 1fr);
  }
  #PR div {
    padding: 1vw;
    background-color: #ffc3c3;
  }
  #PR h2 {
    font-size: 4vw;
  }
  #PR p {
    font-size: 2.5vw;
  }
  #PR b {
    font-size: 3vw;
  }
}/*# sourceMappingURL=Servicios.css.map */