:root {
    --Rosat: #ffc3c3dc;
    --Rosaf: #ffc3c3;
    --Rosa: #ffdcdc;
    --Blanco: #ffffff;
    --Negro: #0d0d0d;
    --Gris: #bebebe;
    --Dorado: #D4AF37;
}
html {
    background-color: var(--Rosa);
    font-family: 'Nunito Sans', sans-serif;
    transition-duration: all 0.5s
}
#F video {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    height:100%;
    z-index: -101;
  }
#in {
    height: 10vh;
}
main img {
    display: block;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
}
nav {
    border-color: var(--Rosa);
    margin-top: -45vh;
    width: 95.7vw;
    position: fixed;
    border-bottom: 0.4vh solid var(--Rosa);
    display: flex;
    padding: 1vw;
    background-color: var(--Rosat);
    justify-content: center;
    
}
nav a {
    font-size: 1.5vw;
    text-decoration: none;
    color: var(--Blanco);
}
#int {
    text-decoration: none;
    color: var(--Blanco);
    background-color: var(--Rosaf);
    height: 50vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
#int img {
    width: 25vw;
}
#PR {
    font-size: 0.8rem;
    background-color: var(--Rosaf);
    padding: 1rem;
}
#PR img {
    width: 10vw;
    padding: 0.4rem;
    border: 0.3rem solid var(--Rosa);
    border-radius: 10rem;
}
#PR {
    height: 80vh;
    text-align: center;
    color: var(--Blanco);
}
#PR .left {
    margin-left: 3vw;
    float: left;
}
#PR .right {
    margin-right: 3vw;
    float: right;
}
@media screen and (max-width: 500px) {
    nav {
        margin-top: -33.5vh;
        margin-left: 1vw;
        margin-right: 1vw;
        padding: 3.5vw;
        width: 90vw;
    }
    nav a {
        font-size: 1rem;
    }
    main img {
        margin-top: 0vw;
    }
    #int {
        height: 50vh;
    }
    #int img {
        width: 40vw;
    }
    .P {
        margin-top: 5vh;
    }
    #PR {
        margin: 3vw;
        font-size: 1rem;
        background-color: var(--Rosaf);
        padding: 1rem;
        height: 250vh;
        text-align: center;
        color: var(--Blanco);
    }
    #PR img {
        width: 25vw;
        padding: 0.4rem;
        border: 0.3rem solid var(--Rosa);
        border-radius: 10rem;
    }
    #PR .left {
        margin-left: 0vw;
        float: none;
    }
    #PR .right {
        margin-right: 0vw;
        float: none;
    }

}