@keyframes ag_info_input {
    0% {
        margin-left: -300vw;
    }
    50% {
        margin-left: 6vw;
    }
    100% {
        margin-left: 0vw;
    }
}
@keyframes modal1_h1 {
    0% {
        margin-left: 300vw;
    }
    50% {
        margin-left: -6vw;
    }
    100% {
        margin-left: 0vw;
    }
}
@keyframes le1int_img {
    0% {
        transform: rotate(6deg);
    }
    50% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(6deg);
    }
}