@import "variables";
    #logo_load{
        width: 100vw;
        height: 100vh;
        background: $Rosa;
        position: fixed;
        display: flex;
        z-index: 999;
        #cargando {
            margin: auto;
            display: block;
            #circulo {
                width: 7rem;
                height: 7rem;
                animation: load 2s ease-in-out infinite;
                border-radius: 100%;
                border: 0.8rem dotted $Blanco;
                img {
                    width: 7rem;
                    height: 7rem;
                }
            }
        }
    }
    @media screen and (max-width: 500px){
    #logo_load{
        margin-top: -1vh;
        margin-left: -2vw;
        #cargando {
            #circulo {
                width: 5rem;
                height: 5rem;
                border: 0.5rem dotted $Blanco;
                img {
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }
    }
    @keyframes load {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }