/*General*/
@import "variables";
*{
    font-family: $Letra;
}
html {
    background-color: $Primario;
}
#in {
    height: 10vh;
}
main img {
    width: 15vw;
    display: block;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
}
nav {
    border-color: $Primario;
    margin-top: -50vh;
    margin-left: 1vw;
    width: 95vw;
    position: fixed;
    border-bottom: 0.4vh solid $Primario;
    display: flex;
    padding: 1vw;
    background-color: $Rosat;
    justify-content: space-evenly;
    a {
        font-size: 1vw;
        text-decoration: none;
        color: $Blanco;
        font-family: $Letra;
    }
    
}
footer {
    margin-top: 6vh;
    margin-bottom: 6vh;
    color: $Blanco;
    text-align: center;
}
