/*General*/
@import "variables";
@import "animaciones";
*{
    font-family: $Letra;
    scroll-behavior:smooth;
    scroll-margin-top: 10vh;
}
body {
    background-color: $Primario;
    #in {
        height: 45vh;
    }
    #a_icon {
        width: 100vw;
        margin-top: -40vh;
        position: fixed;
        display: flex;
        z-index: 100;
        a {
            display: flex;
            margin: auto;
            img {
                width: 55%;
                margin: auto;
                border: 3px solid #ffffff;
                border-radius: 100%;
                transition: all 0.5s;
                animation: logo_palpitar 3.5s ease-in-out infinite, logo 1.5s 1;
                animation-delay: 2s;
            }
        }
    }
    #a_icon.abajo {
        margin-top: -43vh;
        a {
            img {
                width: 35%;
            }
        }
    }
    #header {
        background-color: $Secundario;
        width: 100vw;
        height: 8vh;
        display: flex;
        position: fixed;
        margin-top: 47vh;
        z-index: 100;

        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            nav {
                width: 90%;
                display: flex;
                justify-content: space-around;
                li {
                    width: 100%;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        text-decoration: none;
                        color: $Blanco;
                        .icon {
                            font-size: 200%;
                            transition: all 0.2s;
                        }
                    }
                }
                li:hover {
                    a {
                        .icon {
                            font-size: 250%;
                        }
                    }
                }
            }
        }
    }
    footer {
    text-align: center;
    margin: 6vh 0 10vh 0;
    a {
        color: $Blanco;
        text-decoration: none;
    }
    }
}
@media screen and (max-width: 500px) {
*{
    scroll-margin-top: 5vh;
}
body {
    #in {
        height: 25vh;
    }
    #a_icon {
        margin-top: -23vh;
        position: fixed;
        display: flex;
        width: 100vw;
        z-index: 100;
        a {
            display: flex;
            margin: auto;
            img {
                width: 10rem;
                height: 10rem;
                border: 3px solid #ffffff;
                border-radius: 100%;
                transition: all 0.5s;
                animation: logo_palpitar 3.5s ease-in-out infinite, logo 1.5s 1;
                animation-delay: 2s;
            }
        }
    }
    #a_icon.abajo {
        margin-top: -23vh;
        a {
            img {
                width: 7rem;
                height: 7rem;
            }
        }
    }
    #header {
        margin-top: 67vh;
    }
}
}