@import "variables";
#BP {
    margin-top: 10vh;
    margin-left: 80vw;
    position: fixed;
    
    button {
        width: 16vw;
        height: 6vh;
        color: $Blanco;
        background-color: $Secundario;
        border-radius: 20%;
        border: 0.1rem solid $Blanco;
        transition: all 0.5s;
    }
    button:active {
        width: 16.5vw;
        height: 6.5vh;
        background-color: $Primario;
    }
}