@import "variables";
/*Modal*/
#modal1 {
    width: 45vw;
    height: 60vh;
    background-color: $Secundario;
    border: 0;
    border-radius: 1.5rem;

    h1 {
        width: 100%;
        animation: modal1_h1 1.5s 1;
        text-align: center;
        font-size: large;
        color: $Blanco;
        margin-top: 4vh;
    }
    h3 {
        width: 100%;
        animation: modal1_h1 1.5s 1;
        text-align: center;
        font-size: small;
        color: $Blanco;
        margin-bottom: 3vh;
    }
    #ag_info {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        animation: ag_info_input 1.5s 1;

        div {
            width: 10vw;
            font-size: large;
            text-align: center;
            padding-top: 1vh;
            margin: 0.5vw;
            border-radius: 1rem;
            color: $Blanco;
            background-color: $Primario;

            .date {
                background-color: $Blanco;
                color: $Secundario;
                margin: auto;
                font-size: large;
                width: 70%;
                text-align: center;
                margin-bottom: 1vh;
                border: 3px solid $Primario;
                border-radius: 2vw;
            }
            .date::placeholder {
                color: $Secundario;
            }
            .date::placeholder:focus {
                color: $Rojo;
            }
            .date:focus {
                color: $Rojo;
            }
        }
    }
    #paypal-button {
        width: 80%;
        height: 20vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3vh;
    }
    

    button {
        width: 2rem;
        height: 2rem;
        color: $Blanco;
        margin-top: -6px;
        margin-left: -6px;
        position: fixed;
        border-radius: 100%;
        font-size: 100%;
        background-color: $Primario;
        border: 0;
    }
}
#modal1::backdrop {
    background-color:rgba(0, 0, 0, 0.700);
}
/*Fixed*/
#ag {
    position: fixed;
    margin: 15vh 2vw;
    text-align: center;
    font-size: 0.5rem;
    color: $Blanco;
    transition: all 0.5s;
    z-index: 150;
    button {
        background-color: $Transparente;
        border: 0; 
        img {
            width: 5rem;
        }
    }
}
#BP {
    margin: 15vh 90vw;
    position: fixed;
    transition: all 0.5s;
    z-index: 150;
    
    button {
        width: 5rem;
        height: 5rem;
        color: $Blanco;
        font-size: 100%;
        border-radius: 1rem;
        border: 1px solid $Blanco;
        background-color: $Secundario;
        transition: all 0.5s;
    }
    button:active {
        background-color: $Primario;
    }
}
#ag.abajo {
    margin: 7vh 2vw;
}
#BP.abajo {
    margin: 7vh 90vw;
}
@media screen and (max-width: 500px) {
    #modal1 {
    width: 85vw;
    height: 50vh;
    
    h1 {
        font-size: 0.9rem;
    }
    h3 {
        font-size: 0.6rem;
    }
    #ag_info {
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        div {
            width: 40vw;
            font-size: large;
            margin: 1vw;

            .date {
                margin: auto;
                font-size: small;
                width: 70%;
                margin-bottom: 1vh;
            }
            .date::placeholder {
                font-size: small;
            }
        }
    }
    #paypal-button {
        width: 85%;
        height: 25vh;
        margin-top: 3vh;
    }
    }
    #ag {
        margin: 10vh 2vw;
        button {
            img {
                width: 3rem;
            }
        }
    }
#BP {
    margin: 10vh 82vw;
    button {
        width: 3.5rem;
        height: 3.5rem;
    }
}
#ag.abajo {
    margin: 6vh 2vw;
}
#BP.abajo {
    margin: 6vh 82vw;
}
}
@media screen and (max-height: 650px) {
    #modal1 {
        height: 60vh;
 
         h1 {
             font-size: 0.8rem;
         }
         h3 {
             font-size: 0.5rem;
         }
    }
    #ag {
        margin-top: 10vh;
    }
    #BP {
        margin-top: 10vh;

        button {
            width: 16vw;
            height: 7vh;
        }
    }
}