@import "nav";
@import "variables";
@import "fondo";
#galeria {
    background-color: $Secundario;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);

    img {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    @import "fondo-m";
    @import "nav-m";
    #int {
        height: 50vh;

        img {
            width: 40vw;
        }
    }
    #galeria {
        background-color: $Secundario;
        padding: 3vw;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3,1fr);

        img {
            width: 100%;
        }
    }
}