@import "carga";
@import "variables";
@import "nav";
@import "fondo";
@import "playvid";

    #PR {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4,1fr);

        div {
            padding: 1vw;
            background-color: $Secundario;
        }
        h2 {
            color: $Blanco;
        }
        p {
            color: $Blanco;
            font-size: 1.5vw;
        }
        b {
            color: $Primario;
            font-size: 1.2vw;
        }
        img {
            width: 75%;
            border-radius: 100%;
            padding: 0.5vw;
            border: 0.2rem solid $Blanco;
        }
    }
@media screen and (max-width: 500px) {
    @import "fondo-m";
    @import "nav-m";
    #PR {
        grid-template-columns: repeat(2,1fr);

        div {
            padding: 1vw;
            background-color: $Secundario;
        }
        h2 {
            font-size: 4vw;
        }
        p {
            font-size: 2.5vw;
        }
        b {
            font-size: 3vw;
        }
    }
}